name: Release

on:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:

  build-linux:
    name: Linux ${{ matrix.target }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-musl

    steps:

      - name: Checkout
        uses: actions/checkout@v4


      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable


      - name: Install cross
        run: cargo install cross --locked


      - name: Build
        run: cross build --release --locked --target ${{ matrix.target }}


      - name: Package
        run: |
          cd target/${{ matrix.target }}/release
          tar -czvf ../../../flock-${{ matrix.target }}.tar.gz flock
          cd ../../..


      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          files: flock-${{ matrix.target }}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}



  build-macos:
    name: macOS ${{ matrix.target }}
    runs-on: macos-latest

    strategy:
      matrix:
        target:
          - x86_64-apple-darwin
          - aarch64-apple-darwin

    steps:

      - uses: actions/checkout@v4


      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}


      - name: Build
        run: cargo build --release --locked --target ${{ matrix.target }}


      - name: Package
        run: |
          cd target/${{ matrix.target }}/release
          tar -czvf ../../../flock-${{ matrix.target }}.tar.gz flock
          cd ../../..


      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          files: flock-${{ matrix.target }}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
